@font-face {
  font-family: 'Lato-Regular';
  src: url('./Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('./Lato-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('./Lato-Light.woff') format('woff');
}

@font-face {
  font-family: 'Circular-Std-Book';
  src: url('./CircularStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Menlo-Regular';
  src: url('./Menlo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Menlo-Bold';
  src: url('./Menlo-Bold.ttf') format('truetype');
}